.lt_container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.lt_container .lt_header {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    background: #006699;
    line-height: 45px;
    color: #fff;
    text-align: center;
}

.lt_container .lt_header a {
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    z-index: 1;
}

.lt_container .lt_header a span {
    color: #fff;
}

.lt_container .lt_header h3 {
    margin: 0;/*清除mui自带样式*/
    line-height: 45px;
    font-size: 16px;
    font-weight: normal;
}

.lt_container .lt_header .left {
    left: 0;
}

.lt_container .lt_header .right {
    right: 0;
}

.lt_container .lt_footer {
    width: 100%;
    height: 55px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #006699;
    padding: 0;
}

.lt_container .lt_footer a {
    color: #fff;
    width: 25%;
    text-align: center;
    float: left;
    padding-top: 10px;
    /*line-height: 55px;*/
}

.lt_container .lt_footer a.now {
    color: orange;
}

.lt_container .lt_footer a span {
    display: block;
    padding-top: 6px;
}

.lt_container .lt_content {
    padding: 45px 0 55px 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.lt_container .lt_content .lt_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    background: #fff;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}