<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,user-scalable=0"
    />
    <title>乐淘-购物车</title>
    <link rel="stylesheet" href="assets/mui/css/mui.css" />
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/less" href="less/common.less" />
    <link rel="stylesheet" type="text/less" href="less/cart.less" />
    <script src="assets/less/less.min.js"></script>
  </head>

  <body>
    <div class="lt_container">
      <header class="lt_topBar">
        <a href="javascript:history.back()" class="left"
          ><span class="fa fa-arrow-left"></span
        ></a>
        <h3>乐淘-购物车</h3>
        <a href="" class="right"><span class="fa fa-search"></span></a>
      </header>

      <div class="lt_content">
        <div class="lt_wrapper">
          <!-- 滑动区域 -->
          <div id="refreshContainer" class="mui-scroll-wrapper">
            <div class="mui-scroll">
              <!--这里放置真实显示的DOM内容-->
              <ul class="mui-table-view">
                <!-- TODO -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="cart_order">
        订单总额：&yen;<span id="cartAmount">0.00</span>
        <a href="javascript:;">生成订单</a>
      </div>

      <footer class="lt_tabBar">
        <a href="index.html" class="tab_home fa fa-home"><span>首页</span></a>
        <a href="category.html" class="tab_cate fa fa-bars"
          ><span>分类</span></a
        >
        <a href="cart.html" class="tab_cart fa fa-shopping-cart now"
          ><span>购物车</span></a
        >
        <a href="user/index.html" class="tab_user fa fa-user"
          ><span>会员中心</span></a
        >
      </footer>
    </div>
    <script type="text/template" id="cart">
      {{ each data }}
      <li data-product class="mui-table-view-cell mui-transitioning">
        <div class="mui-slider-right mui-disabled" data-id="{{ $value.id }}">
          <a class="mui-btn mui-btn-red mui-icon mui-icon-compose"></a>
          <a class="mui-btn mui-btn-blue mui-icon mui-icon-trash"></a>
        </div>
        <div class="mui-slider-handle">
          <a href="javascript:;" class="">
            {{ if $value.pic && $value.pic[0] && $value.pic[0].picAddr}}
            <img class="mui-media-object mui-pull-left" src="{{ $value.pic[0].picAddr }}">
            {{ else }}
            <img class="mui-media-object mui-pull-left" src="../images/none.jpg">
            {{ /if }}
            <div class="mui-media-body">
              <p class="name">{{ $value.proName }}</p>
              <p class="info">
                <span class="price">¥{{ $value.price }}</span>
                <span class="oldPrice">¥{{ $value.oldPrice }}</span>
                <span class="number">x{{ $value.num }}双</span>
              </p>
              <p><span class="size">鞋码：{{ $value.size }}</span></p>
            </div>
            <input data-id="{{ $value.id }}" type="checkbox">
          </a>
        </div>
      </li>
      {{ /each }}
    </script>
    <script type="text/template" id="edit">
      <div class="cart_update">
        <div class="p_size">
          尺码：
          <%
            var arrItem = productSize.split('-');
            for(var i = arrItem[0]; i <= arrItem[1]; i++){
          %>
          <span class="btn_size <%= i==size?'now':'' %>"><%= i %></span>
          <% } %>
        </div>
        <div class="p_number">
          数量：<span class="jian">-</span><input readonly type="text" value="<%= num %>" data-max="<%= productNum %>"><span class="jia">+</span>
        </div>
      </div>
    </script>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/artTemplate/template-web.js"></script>
    <script src="js/common.js"></script>
    <script src="js/cart.js"></script>
  </body>
</html>
